body{
    background-image: url(./src/CoffeeBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
}

h1, h2{
    font-family: Impact, serif;
}

h1, h2, p{
    text-align: center;    
}

.menu{
    background-color: #d6c7aeb6;
    margin: 30px auto;
    padding: 20PX;
    max-width: 700px;
}

.date{
    font-style: italic;
    font-size: 20px;
}

img{
    display: block;
    width: 50px;
    margin: 0 auto;;
}

hr{
    height: 2px;
    background-color:#4F4A45;
    border-color: #4F4A45;
}

.product p{
    display: inline-block;
    margin: 15px 0 15px 0;
    font-size: 25px;
}

.dessert, .flavor{
    text-align: left;
   width: 70%;
}

.price{
    text-align: right;
    width: 25%;
}

/* FOOTER */


.footer-line{
    margin-top: 2em;
}

a{
    color: brown;
}

.address{
    margin: 20px 0 10px 0;
}

a, .address{
    font-size: 20px;
}